<div class="form-container">
    <%= error_messages_for :raffle %>
    <% form_for :raffle, @raffle, :url => {:action => 'create'}, :html => {:method => :post} do |f| %>
        <fieldset>
            <div>
                <label for="raffle_title">Title</label>
                <%= f.text_field :title, :maxlength => 150, :size => 50  %>
            </div>
            <div>
                <label for="idea_description">Names</label>
                <%= text_area_tag :users, @users, {:cols => 40, :rows => 15} %>
                <p class="note">Names should be separated with line breaks.</p>
            </div>
            <div>
                <label for="number_of_winners"># of Winners</label>
                <%= f.text_field :number_of_winners, :maxlength => 3, :size => 3 %>
            </div>
            <div>
                <label for="delay">Delay(ms)</label>
                <%= text_field_tag :delay, @delay, {:size=>"4",:maxlength=>"4"}  %>
            </div>
        </fieldset>
        <div>
            <%= submit_tag("Start the Raffle") %>
        </div>
    <% end -%>
</div>
