<script>

  // Kick things off; the process function will kick off each
  // subsequent round after all the special effects are complete.    
  setTimeout(next_round, 2000);
  soundManager.onload = function() {
    playMusic('/songs/Jeopardy.mp3');
  }
    
  function next_round() {
    // Controller will call the remove_user function with the next user id
      new Ajax.Request('<%= url_for(:action => 'raffle', :id => @raffle) %>', 
          {
              asynchronous:true, 
              evalScripts:true
          }
      );
  }
  
  function remove_user(user_id) {
    process(user_id, next_round);
  }
    
</script>

<span id="new_raffle" style="display: none;"><%= link_to 'New Raffle', new_raffle_path %></span>
<h2><%= h @raffle.title %></h2>
<div id="users">
    <% for user in @users %>
        <div id="user_<%= user.id %>" class="users"><div><%= h user.name %></div></div>
    <% end %>
</div>
<input type="hidden" name="number_of_winners" id="number_of_winners" value="<%= @raffle.number_of_winners %>"/>
